
{% extends 'base.html' %}
{% load static%}

{% block title %} Appointment {% endblock title %}
{% block meta %} This is the greatest dentist website ever made. {% endblock meta%}

{% block content %}


  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Appointment</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Appointment</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

<center>
  <h1>Review your information.</h1> <br> <br> <br>


<h4> Hi </h4>{{ your_name }}. <br> <br>
 We have booked your appointment for {{ your_time }}, {{ your_schedule }}.
 <br> <br>
We will contact you shortly on {{ your_phone }} ,   
{{ your_email }}.






</center>

<br><br>
{% endblock %}